.content-wrapper {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.content-wrapper > ul {
    height: 150px;
    border: 1px solid rgba(92, 91, 91, 0.431);;
    margin: 0 auto;
    border-radius: 12px;
    list-style-type: none;
    overflow: auto;
}

.content-wrapper > * {
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.result {
    color: rgb(255, 72, 0);
    font-size: 18px;
}

button {
    padding: 6px 3px;
    border-radius: 6px;
}